body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--black-purple);
    box-shadow: 
        20px 0 100px 20px black,
        -20px 0 100px 20px black;
}

body {
    background-image: url('./assets/blogback1000.jpg');
}

div.card {
    max-width: 540px;
    height: 220px;
    font-size: var(--s-font);
}