:root {
    --black: #191919;
    --black-purple: #231522;
    --purple: #53175e;
    --purple-down: #613d60;
    --white: #f5f5f5;
    --main-font: 'Berkshire Swash', cursive;
    --second-font: 'Martel Sans', sans-serif;
    --s-font: 1.4rem;
    --m-font: 1.6rem;
    --l-font: 2rem;
    --x-font: 2.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
}

.common-nav {
    width: 100%;
    height: 80px;
    display: flex;
    place-content: center;
    padding: 4px 8px;
}

.common-nav .logo{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 88px;
    height: 80px;
    padding: 4px;
}

.common-nav .logo img {
    width: 60%;
    height: auto;
}

.common-nav .logo h1 {
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--black);
}

.common-nav .icons {
    display: none;
    place-items: center;
    gap: 8px;
}

.common-nav .icons i{
    color: var(--black);
    font-size: var(--l-font);
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero h2 {
    position: absolute;
    width: 100%;
    z-index: 10;
    font-family: var(--second-font);
    font-size: 2.6rem;
    filter: drop-shadow(5px 5px 5px var(--black-purple));
    font-weight: bolder;
}

.hero h2.hero-h1 {
    top: 0;
    left: 2%;

}

.hero h2.hero-h2 {
    text-align: center;
    top: 30%;
    color: var(--white);
    filter: 
        drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.8)) 
        drop-shadow(0px -5px 5px rgba(0, 0, 0, 0.8));
    
}

.hero h2.hero-h3 {
    bottom: 15%;
    right: 2%;
    text-align: right;
}


.hero .hero-img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    transform: scaleX(-1);
    top: 6%;
}

.hero .div-dec {
    position: absolute;
    width: 100%;
    height: 60%;
}

.hero .layer1 {
    background-color: var(--white);
    top: -54%;
    left: 5%;
    transform: scaleX(1.5) rotate(-10deg);
    filter: drop-shadow(0px 5px 20px rgba(29, 2, 29, 0.575));
    z-index: 3;
}

.hero .layer2 {
    background-color: var(--white);
    top: -50%;
    right: -20%;
    transform: scaleX(1.5) rotate(10deg);
    filter: drop-shadow(0px 5px 20px rgba(29, 2, 29, 0.575));
    z-index: 2;
}

.hero .layer3 {
    background-color: var(--white);
    bottom: -34%;
    left: 10%;
    transform: scaleX(1.5) rotate(-10deg);
    filter: drop-shadow(0px 5px 20px rgba(29, 2, 29, 0.575));
    z-index: 5;
}

.hero .layer4 {
    background-color: var(--white);
    bottom: -29%;
    right: 38%;
    transform: scaleX(1.5) rotate(10deg);
    filter: drop-shadow(0px 5px 20px rgba(29, 2, 29, 0.575));
    z-index: 4;
}

main button.main-btn {
    width: max-content;
    height: auto;
    padding: 8px 12px;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
}

.btn {
    font-size: var(--m-font);
    font-family: var(--main-font);
    color: var(--purple);
    background-color: rgba(255, 255, 255, 0.678);
    border: none;
    border-radius: 8px;
}


